
{% extends "productos/base.html" %}

{%block title %} Boton Listar {% endblock%}

{% block content%}
    {% load static %}
    <div class="row" style="background-color: #f8f4e8;">
        {% for p in productos %}
        <div class="row">
            {% if p.foto %}
            <div class="col s4 offset-s2">
                <img src="{{ p.foto.url }}"  alt="" width="250" height="250">
                <br>
                <p class="flow-text">{{p.nombre}} ${{p.precio}}</p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}

