{% extends "productos/base.html" %}

{%block title %} Boton Listar {% endblock%}

{% block content%}
    {% load static %}
    <h3>Buscar Producto para editar por Numero</h3>
    <br><br>

    <div class="row">
    <div class="col s4 offset-s4">
        <form action="buscar_para_editar" method="POST">
            {% csrf_token %}
            <label>Ingrese algun numero para editar un producto</label>
            <input type="number" name="numero">
            <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i><input type="submit" name="opcion" value="BUSCAR"></a>
            <a href="administrar" class="waves-effect waves-light btn">CANCELAR</a>
        </form>
    </div>
</div>

{% endblock %}

{% block javascript%}
{% endblock %}



