{% extends "productos/base.html" %}

{%block title %} Boton Listar {% endblock%}

{% block content%}
    {% load static %}
    <h3>AGREGAR UN NUEVO PRODUCTO</h3>
    <hr>
    <br><br>
    <form action="actualizar_producto" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="id_producto" value="{{producto.id_producto}}">
        <div class="row">
            <div class="col s3 offset-s3">
                <label>Numero   :</label><input type="number" name="numero" value="{{producto.numero}}"><br>
            </div>
            <div class="col s3">
                <label>Nombre   :</label><input type="text" name="nombre" value="{{producto.nombre}}"><br>
            </div>
        </div>
        <div class="row">
            <div class="col s3 offset-s3">
                <label>Stock   :</label><input type="number" name="stock" value="{{producto.stock}}"><br>
            </div>
            <div class="col s3">
                <label>Precio   :</label><input type="number" name="precio" value="{{producto.precio}}"><br>
            </div>
        </div>
        <div class="row">
            <div class="col s3 offset-s3">
                <label>Tipo     :</label>
                 <select name="tipo" value="{{producto.tipo}}">
                     <option value="Seleccionar" disabled>Seleccionar</option>
                     {% if producto.tipo == "bebida" %}
                         <option value="bebida" selected>Bebida</option>
                     {% else %}
                         <option value="bebida">Bebida</option>
                     {% endif %}
                     {% if producto.tipo == "snack" %}
                         <option value="snack" selected>Snack</option>
                     {% else %}
                         <option value="snack">Snack</option>
                     {% endif %}
                     {% if producto.tipo == "cabritas" %}
                         <option value="snack" selected>Cabritas</option>
                     {% else %}
                         <option value="snack">Cabritas</option>
                     {% endif %}
                 </select><br>
            </div>
            <div class="col s3">
                <label>Foto  :</label>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Archivo</span>
                        <input type="file" name="foto">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" value="{{producto.foto}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s3 offset-s5">
                {% if producto.foto %}
                    <tr><td><p>{{producto.foto.url }}</p></td></tr>
                    <tr><td><p><img src="{{producto.foto.url}}"></p></td></tr>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col s3 offset-s5">
                <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i><input type="submit" name="opcion" value="ACTUALIZAR"></a>
                <a href="administrar" class="waves-effect waves-light btn">CANCELAR</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript%}

{% endblock %}